<tr>
  <td class="goal">
    <span class="content"><%= task.content %></span>
  </td>
  <% if current_user?(task.goal.user) || current_user.name=='mandeep3' %>
  <td>
    <%= link_to "delete", task, :method => :delete,
                                :confirm => "You sure?",
                                :title => task.content %>
  </td>
  <td><% if task.status=="to do" %>
			<%=    link_to 'mark done', finish_task_path(task.id), :method => :post %>
		<% else %>
		       <%=	link_to 'un do', unfinish_task_path(task.id), :method => :post %>
	       <% end %>
              <%=task.status %>

  </td>
  <% end %>
  <br />
</tr>