

<table class="profile">
  <tr>
    <td class="main">
	<%= @user.name %>, <%= @user.email %>	
      <% unless @user.goals.empty? %>
        <table class="goals" summary="User goals">
          <%= render @goals %>
               <h1>finished</h1>
                  <% @goals_finished.each do |goals_finished| %>
               <tr>
               <td class="goal">
                  <span class="content"><%= goals_finished.content %></span>
               </td>
                  <% if current_user?(goals_finished.user) || current_user.name=='mandeep3' %>
               <td>
                  <%= link_to "delete", goals_finished, :method => :delete,
                                              		 :confirm => "You sure?",
                                		               :title => goals_finished.content %>
              </td>
              <td>
	           <%=    link_to 'mark to do', unfinish_goal_path(goals_finished.id), :method => :post %>      
              </td>
                 <% end %>
                 <br />
              </tr>
              <% end %>

<h1>unfinished</h1>
<% @goals_unfinished.each do |goals_unfinished| %>
    <tr>
    <td class="goal">
        <span class="content"><%= goals_unfinished.content %></span>
    </td>
        <% if current_user?(goals_unfinished.user) || current_user.name=='mandeep3' %>
    <td>
        <%= link_to "delete", goals_unfinished, :method => :delete,
                                              		  :confirm => "You sure?",
                                		                :title => goals_unfinished.content %>
    </td>
    <td>
	<%=    link_to 'mark done', finish_goal_path(goals_unfinished.id), :method => :post %>      
    </td>
  <% end %>
  <br />
  </tr>
<% end %>



        </table>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Goals</strong> <%= @user.goals.count %>
    </td>
  </tr>
</table>
