<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="goal">add a goal</h1>
        <%= render 'shared/goal_form' %>
      </td>
    </tr>
  </table>

<h1>finished goals</h1>
<table>
                <% @goals_finished.each do |goals_finished| %>
               <tr>
               <td class="goal">
                  <span class="content"><%= link_to goals_finished.content, goal_path(goals_finished.id) %></span>
               </td>
                  <% if current_user?(goals_finished.user) || current_user.name=='mandeep3' %>
               <td>
                  <%= link_to "delete", goals_finished, :method => :delete,
                                              		 :confirm => "You sure?",
                                		               :title => goals_finished.content %>
              </td>
              <td>
	           <%=    link_to 'incomplete', unfinish_goal_path(goals_finished.id), :method => :post %>      
              </td>
                 <% end %>
              </tr>
              <% end %>
</table>

<h1>unfinished goals</h1>
<table>
<% @goals_unfinished.each do |goals_unfinished| %>
    <tr>
    <td class="goal">
        <span class="content"><%= link_to goals_unfinished.content, goal_path(goals_unfinished.id) %></span>
    </td>
        <% if current_user?(goals_unfinished.user) || current_user.name=='mandeep3' %>
    <td>
        <%= link_to "delete", goals_unfinished, :method => :delete,
                                              		  :confirm => "You sure?",
                                		                :title => goals_unfinished.content %>
    </td>
    <td>
	<%=    link_to 'completed', finish_goal_path(goals_unfinished.id), :method => :post %>      
    </td>
  <% end %>
  </tr>
<% end %>
</table>



<% else %>
  <h1>Sample App</h1>

  <p>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
